#
# Kcal application configuration.
#

APP_NAME=kcal
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://127.0.0.1
APP_PORT=80
APP_SERVICE=app
APP_TIMEZONE=UTC

#
# Databases configuration.
#

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=kcal
DB_USERNAME=kcal
DB_PASSWORD=kcal

REDIS_HOST=localhost
REDIS_PORT=6379

#
# Search configuration.
#

#SCOUT_DRIVER=null

#SCOUT_DRIVER=algolia
#ALGOLIA_APP_ID=
#ALGOLIA_SECRET=

SCOUT_DRIVER=elastic
ELASTIC_HOST=localhost:9200
ELASTIC_PORT=9200

#
# Media (image storage) configuration.
#

MEDIA_DISK=media
QUEUE_CONVERSIONS_BY_DEFAULT=false

#MEDIA_DISK=s3-public
#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=
#AWS_DEFAULT_REGION=
#AWS_BUCKET=

#
# Misc. drivers and configuration.
#

BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
LOG_CHANNEL=stack
LOG_LEVEL=debug
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120
